<header class="header">
  <nav class="navbar py-0 px-3 navbar-expand-md navbar-light">
    <a class="navbar-brand" href="#">
      <img alt="" src="https://tix.vn/app/assets/img/icons/web-logo.png">
    </a>
    <button class="navbar-toggler" data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">
      <img src="https://tix.vn/app/assets/img/icons/menu-options.png" width="25px" height="20px" alt="">
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <div class="nav-item nav-item--mobile">
          <a href="#">
            <img class="btnLogin btnAvatarMobile" src="https://tix.vn/app/assets/img/avatar.png">
            <span class="mx-4">Đăng nhập</span>
          </a>
          <img width="20px" src="https://tix.vn/app/assets/img/icons/next-session.png" data-target="#navbarNavAltMarkup" data-toggle="collapse"  class=" close icon-arrow-right">
        </div>
        <a class="nav-item nav-link active" href="#">Lịch chiếu</a>
        <a class="nav-item nav-link" href="#">Cụm rạp</a>
        <a class="nav-item nav-link" href="#">Tin tức</a>
        <a class="nav-item nav-link" href="#">Ứng dụng</a>
      </div>
    </div>
  </nav>
</header>
