<div class="footer">
  <div class="footer-container">
    <div class="row">
      <div class="col-4 tix">
        <p class="footer-title">Tix</p>
        <div class="row">
          <div class="col-6">
            <p><a href="#">FAQ</a></p>
            <p><a href="#">Brand Guidelines</a></p>
          </div>
          <div class="col-6">
            <p><a href="#">Thỏa thuận sử dụng</a></p>
            <p><a href="#">Chính sách bảo mật</a></p>
          </div>
        </div>
      </div>

      <div class="col-4">
        <p class="footer-title">Đổi tác</p>
        <ng-container *ngFor="let partners of partnerChunks">
          <div class="linePartner">
            <ng-container *ngFor="let partner of partners">
              <a href="{{ partner.brandLink }}" target="_blank" title="{{ partner.title }}">
                <img class="iconConnect" src="{{ partner.imgLink }}" style="background: white">
              </a>
            </ng-container>
          </div>
        </ng-container>
      </div>

      <div class="col-4">
        <div class="row">
          <div class="col-6 text-center">
            <p class="footer-title">Mobile App</p>
            <a target="_blank" href="https://apps.apple.com/vn/app/tix-%C4%91%E1%BA%B7t-v%C3%A9-nhanh-nh%E1%BA%A5t/id615186197" title="Apple App">
              <img class="iconApp" src="https://tix.vn/app/assets/img/icons/apple-logo.png">
            </a>
            <a target="_blank" href="https://play.google.com/store/apps/details?id=vn.com.vng.phim123" title="Android App">
              <img class="iconApp" src="https://tix.vn/app/assets/img/icons/android-logo.png">
            </a>
          </div>
          <div class="col-6 text-center">
            <p class="footer-title">Social</p>
            <a target="_blank" href="https://www.facebook.com/tix.vn/" title="Facebook social">
              <img class="iconApp" src="https://tix.vn/app/assets/img/icons/facebook-logo.png">
            </a>
            <a target="_blank" href="https://zalo.me/tixdatve" title="Zalo social">
              <img class="iconApp" src="https://tix.vn/app/assets/img/icons/zalo-logo.png">
            </a>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-1 .col-xs-12">
        <img class="vngIcon" src="https://tix.vn/app/assets/img/icons/zion-logo.jpg" style="border-radius: 8px;">
      </div>
      <div class="col-sm-9 col-xs-12 infoFooter">
        <span>TIX – SẢN PHẨM CỦA CÔNG TY CỔ PHẦN ZION</span>
        <span>Địa chỉ: Z06 Đường số 13, Phường Tân Thuận Đông, Quận 7, Tp. Hồ Chí Minh, Việt Nam.</span>
        <span>Giấy chứng nhận đăng ký kinh doanh số: 0101659783,<br>đăng ký thay đổi lần&nbsp;thứ&nbsp;30, ngày&nbsp;22&nbsp;tháng&nbsp;01&nbsp;năm&nbsp;2020  do Sở&nbsp;kế&nbsp;hoạch&nbsp;và&nbsp;đầu&nbsp;tư Thành phố Hồ Chí Minh cấp.</span>
        <span>Số Điện Thoại (Hotline): 1900&nbsp;545&nbsp;436<br>Email: <a href="mailto:support@tix.vn" style="color: #FB4226;">support@tix.vn</a></span>
      </div>
      <div class="col-sm-2 col-xs-12 imgFooter">
        <a target="_blank" href="http://online.gov.vn/Home/WebDetails/62782">
          <img class="imgBoCo" alt="Bộ Công Thương" title="" src="https://s3img.vcdn.vn/123phim/2020/03/d1e6bd560daa9e20131ea8a0f62e87f8.png"></a>
      </div>
    </div>
  </div>
</div>
