.btn-play-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    .btn-play {
      opacity: 1;
    }
  }

  .btn-play {
    background: transparent;
    outline: none;
    border: none;
    transition: .35s all;
    opacity: 0;
  }
}

.text-orange {
  color: $main-orange;
}
.text-smoke {
  color: $smoke;
}
.fs-12 {
  font-size: 12px!important;
}
