html {
  scroll-behavior: smooth !important;
}

.btn-play-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    .btn-play {
      opacity: 1;
    }
  }

  .btn-play {
    background: transparent;
    outline: none;
    border: none;
    transition: .35s all;
    opacity: 0;
  }
}

.btn-light-custom {
  background-color: rgba(246, 246, 246, .5);
  border-radius: 7px;
  color: #9b9b9b;
  border: 1px solid #e4e4e4;

  &:hover {
    color: #9b9b9b;
  }
}

.text-orange {
  color: $main-orange;
}

.badge-orange {
  background: $main-orange;
  color: white;
}

.text-smoke {
  color: $smoke;
}

.fs-12 {
  font-size: 12px !important;
}

.max-width-940 {
  position: relative;
  max-width: 940px;
  margin: 0 auto !important;
}

.movie-nav-container {
  padding-top: 3rem;
  padding-bottom: 1rem;

  .movie-nav-item {
    font-size: 20px !important;
    padding: 1.5rem;
    line-height: 2rem;
    color: black;
    font-weight: 500;
    transition: 0.2s all;

    &:focus, &:hover {
      font-size: 24px !important;
      text-decoration: none;
    }

    &.active {
      font-size: 24px !important;
      color: #fa5238;
    }
  }
}

.o-7 {
  opacity: .7 !important;
}

.btn-light-orange {
  background: white;
  border: 1px solid $light-black-1;
  color: $light-black-1;
  padding: 7px 25px !important;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;

  &:hover {
    background: $main-orange;
    color: white;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.btn-orange {
  background: $main-orange;
  color: white;

  &:hover {
    color: white;
  }
}

.btn-blue-gray {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(20, 50, 93, 0.9);
  color: white;

  &:hover {
    color: white;
    background: rgba(8, 22, 48, 0.9);
  }
}

.custom-container {
  max-width: 940px;
  margin: 0 auto;
}

.myapp-no-padding-dialog {
  mat-dialog-container {
    padding: 0 !important;
    overflow: inherit;
    position: relative;

    .yt-close {
      position: absolute;
      top: -20px;
      right: -20px;
      cursor: pointer;
    }
  }

  width: 900px;
  height: 532px;
}
