<div class="movie-info">
  <!--<div class="buy-now-container px-3 py-4 d-flex align-items-center">
    <div class="dropdown buy-now-container__film ">
      <button aria-expanded="false" aria-haspopup="true" class="btn dropdown-toggle py-2" data-toggle="dropdown"
              id="triggerId"
              type="button">
        Phim
      </button>
      <div aria-labelledby="triggerId" class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item disabled" href="#">Disabled action</a>
        <h6 class="dropdown-header">Section header</h6>
        <a class="dropdown-item" href="#">Action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">After divider action</a>
      </div>
    </div>
    <div class="dropdown buy-now-container__film-info">
      <button aria-expanded="false" aria-haspopup="true" class="btn py-2 dropdown-toggle" data-toggle="dropdown"
              id="triggerId"
              type="button">
        Rạp
      </button>
      <div aria-labelledby="triggerId" class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item disabled" href="#">Disabled action</a>
        <h6 class="dropdown-header">Section header</h6>
        <a class="dropdown-item" href="#">Action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">After divider action</a>
      </div>
    </div>
    <div class="dropdown buy-now-container__film-info">
      <button aria-expanded="false" aria-haspopup="true" class="btn py-2 dropdown-toggle" data-toggle="dropdown"
              id="triggerId"
              type="button">
        Ngày xem
      </button>
      <div aria-labelledby="triggerId" class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item disabled" href="#">Disabled action</a>
        <h6 class="dropdown-header">Section header</h6>
        <a class="dropdown-item" href="#">Action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">After divider action</a>
      </div>
    </div>
    <div class="dropdown buy-now-container__film-info">
      <button aria-expanded="false" aria-haspopup="true" class="btn py-2 dropdown-toggle" data-toggle="dropdown"
              id="triggerId"
              type="button">
        Xuất chiếu
      </button>
      <div aria-labelledby="triggerId" class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item disabled" href="#">Disabled action</a>
        <h6 class="dropdown-header">Section header</h6>
        <a class="dropdown-item" href="#">Action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">After divider action</a>
      </div>
    </div>

    <button class="btn btn-dark buy-now-container__film-info py-2">Mua vé ngay</button>
  </div>-->

  <div class="movie-nav-container d-flex justify-content-center">
    <span (click)="setDangChieu()"
          class="movie-nav-item" style="cursor: pointer" [class.active]="isDangChieu">Đang chiếu</span>
    <span (click)="setSapChieu()"
          class="movie-nav-item" style="cursor: pointer" [class.active]="!isDangChieu">Sắp chiếu</span>
  </div>

  <div class="movie-info__list">
    <ngx-slick-carousel #slickModal="slick-carousel"
                        [config]="slideConfig"
                        class="carousel">
      <div *ngFor="let slide of slideMovies"
           class="slide"
           ngxSlickItem>
        <div class="row">
          <div *ngFor="let movie of slide"
               class="movie-card col-3 my-3">
            <div class="img-card mb-2">
              <img alt=""
                   class="rounded"
                   src="{{ movie.hinhAnh }}"
                   width="100%">
              <div class="btn-play-container">
                <button class="btn-play"
                        data-url="{{ movie.trailer }}" appYoutubePopup [link]="movie.trailer">
                  <img class="movie-card__img-play"
                       src="https://tix.vn/app/assets/img/icons/play-video.png">
                </button>
              </div>
            </div>
            <div class="movie-card__info">
              <h5 class="movie-card__info-detail">
                <span class="badge badge-success p-2 mr-2">C13</span>{{ movie.tenPhim }}
              </h5>
              <span class="movie-card__info-detail">{{ movie.ngayKhoiChieu | date : 'dd.MM.yyyy' }}</span>
              <a class="py-2 btn w-100 movie-card__buy-now"
                 routerLink="movie-detail/{{ movie.maPhim }}">MUA NGAY</a>
            </div>
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>

  <div id="cumRap" class="movie-info-theater d-flex rounded">
    <div class="theater-group">
      <span (click)="layThongTinCumRapTheoHeThong(heThongRap, i)"
            *ngFor="let heThongRap of heThongRaps; let i = index"
            [class.active]="i == activeIndexCumRap"
            class="theater-group-icon">
        <img alt="{{heThongRap.tenHeThongRap}}"
             src="{{heThongRap.logo}}">
      </span>
    </div>
    <div class="theater-location">
      <div (click)="clickRap(rap, indexRap)"
           *ngFor="let rap of cumRaps; let indexRap = index"
           [class.active]="activeIndexRap == indexRap"
           class="movie-wraper d-flex">
        <img alt="vincom-danang"
             src="https://s3img.vcdn.vn/123phim/2018/09/cgv-vincom-da-nang-15380177756657.jpg">
        <div class="wrap-info">
          <p>
            {{ rap.tenCumRap }}
          </p>
          <p>
            <span class="fs-12 text-smoke"
                  title="{{ rap.diaChi }}">{{ rap.diaChi | shortStr }}</span>
          </p>
          <p>
            <a class="text-orange fs-12"
               href="#">[Chi tiết]</a>
          </p>
        </div>
      </div>
    </div>
    <div class="theater-time-place">
      <!--      <h5 class="text-center">Không có suất chiếu</h5>-->
      <div *ngFor="let phim of dsPhim"
           class="movie-wraper active">
        <div class="d-flex">
          <img alt="vincom-danang"
               src="{{ phim.hinhAnh }}">
          <div class="wrap-info">
            <p>
              <span class="badge badge-orange">C16</span> - {{ phim.tenPhim }}
            </p>
            <p>
              <span class="fs-12 text-smoke">86 phút - TIX 6.2 - IMDb 0</span>
            </p>
          </div>
        </div>
        <p class="s-version">2D digital</p>
        <ng-container *ngFor="let lichChieu of phim.lstLichChieuTheoPhim">
          <button class="btn btn-light-custom ml-1"
                  routerLink="dat-ve/{{lichChieu.maLichChieu}}">
            <span class="main-time">{{lichChieu.ngayChieuGioChieu | date:"HH:mm"}}</span>
            <span style="font-weight: 500; font-size: 14px"> ~ 23:06</span>
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
