.tix-auth {
  width: 100vw;
  height: 100vh;
  background-image: url("https://tix.vn/app/assets/img/icons/bg2.jpg");
  background-size: contain;
  background-position: center;
  position: relative;
}
