<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-9">
      <div *ngIf="thongTinPhim"
           class="chi-tiet-cum-rap">
        <div class="mb-4">
          <div class="left">
            <p class="tenCumRap">{{ thongTinPhim.tenCumRap }}</p>
            <p class="ngayChieu">{{ thongTinPhim.ngayChieu | customDate }}: {{ thongTinPhim.gioChieu }}
              - {{ thongTinPhim.tenRap }}</p>
          </div>
          <div class="right"></div>
        </div>
        <img class="logo"
             src="https://tix.vn/app/assets/img/icons/screen.png">
      </div>
      <div class="danh-sach-ghe w-50 mx-auto text-center">
        <app-ghe (chonGhe)="chonGhe($event, ghe)"
                 *ngFor="let ghe of danhSachGhe"
                 [ghe]="ghe"></app-ghe>
      </div>
    </div>
    <div class="col-sm12 col-md-3 thong-tin-dat-ve"
         style="box-shadow: 0 10px 15px rgba(0,0,0,.3);">
      <div class="row-thong-tin">
        <p class="tong-tien">{{ tongTien | currency:'đ':'symbol':'1.0-0': 'vi-VN' }}</p>
      </div>
      <div class="row-thong-tin px-4" *ngIf="thongTinPhim">
        <p class="filmname py-2 mb-0"><span class="badge-success badge py-1 px-3 mr-2">p</span>{{ thongTinPhim.tenPhim }}</p>
        <p class="py-0 mb-0">{{ thongTinPhim.tenCumRap }}</p>
        <p class="py-0 mb-0">{{ thongTinPhim.ngayChieu | customDate }}: {{ thongTinPhim.gioChieu }} - {{ thongTinPhim.tenRap }}</p>
      </div>
      <div class="row-thong-tin px-4">
        <div class="row">
          <div class="col-7 ghe-dang-chon">Ghế {{ gheDangChonString }}</div>
          <div class="col-5"><p class="text-right mb-0" style="color: #44c020">{{ tongTien | currency:'đ':'symbol':'1.0-0': 'vi-VN' }}</p></div>
        </div>
      </div>
    </div>
  </div>
</div>
