@import "./src/scss/helper/variable";

.movie-info {
  position: relative;
  max-width: 940px;
  margin: 0 auto;

  .img-card {
    position: relative;
  }

  .buy-now-container {
    width: 100%;
    position: absolute;
    background: white;
    box-shadow: 0 0 4px #a2a2a2;
    border-radius: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: -30px;

    &__film {
      width: 32%;
    }

    &__film-info {
      width: 23%;
      border-left: 1px solid rgba(238, 238, 238, .88);
    }

    .dropdown {
      .btn {
        width: 100%;
        text-align: left;
        position: relative;

        &::after {
          position: absolute;
          right: 5px;
          top: 50%;
          transform: translateY(-50%);
        }

        &:focus, &:active {
          outline: none !important;
          border: none !important;
          box-shadow: 0 0 0 0.2rem transparent;
        }
      }
    }
  }

  .movie-card {
    &__img-play {
      width: 50px !important;
      height: 50px !important;
    }

    &__info {
      position: relative;
    }

    &__buy-now {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      border-radius: 4px;
      color: #fff;
      font-size: 18px !important;
      text-align: center;
      background: #fb4226;
      background: -webkit-linear-gradient(to left, #fb4226, #ce3017 100%);
      background: -o-linear-gradient(to left, #fb4226, #ce3017 100%);
      background: -moz-linear-gradient(to left, #fb4226, #ce3017 100%);
      background: linear-gradient(to left, #fb4226, #ce3017 100%);
      opacity: 0;
      transition: .2s all;
    }

    &:hover {
      .movie-card__info {
        .movie-card__buy-now {
          opacity: 1;
        }

        .movie-card__info-detail {
          opacity: 0 !important;
        }
      }
    }
  }

  .movie-info-theater {
    border: 1px solid #ddd;
    height: 705px;

    & > div {
      height: 100%;
    }

    .theater-group {
      width: 90px;
      border-right: 1px solid #ddd;

      .theater-group-icon {
        padding: 20px;
        height: 90px;
        display: block;
        opacity: 0.5;

        &.active {
          opacity: 1;
        }

        img {
          width: 100%;
          height: 100%;
        }

        position: relative;

        &::after {
          content: '';
          width: 60%;
          height: 1px;
          background: #ddd;
          display: block;
          bottom: 0;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    .theater-location {
      width: 280px;
      border-right: 1px solid #ddd;
    }

    .movie-wraper {
      padding: 20px;
      opacity: 0.5;
      &.active {
        opacity: 1;
      }

      position: relative;

      &::after {
        content: '';
        width: calc(100% - 40px);
        height: 1px;
        background: rgba(238,238,238,.88);
        display: block;
        bottom: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

      img {
        width: 50px;
        height: 50px;
      }

      .wrap-info {
        font-size: 14px;
        font-weight: 500;
        margin-left: 10px;

        p {
          margin: 0;
          line-height: 1.4;
        }
      }
    }

    .theater-time-place {
      flex-grow: 1;

      h5 {
        font-size: 15px;
      }

      .movie-container {
        padding-bottom: 17px;
        padding-top: 20px;
        padding-right: 15px;
        padding-left: 20px;
        width: 100%;
        position: relative;
        margin-bottom: 0;
        border: none;
      }
      .main-time {
        color: #108f3e;
        font-size: 18px;
        font-weight: 500;
        &:hover {
          color: $main-orange;
        }
      }
      .s-version {
        width: 100%;
        font-weight: 500;
        font-size: 16px;
        color: #000;
        margin-bottom: 5px;
        margin-top: 15px;
      }
    }
  }
}
