<div class="movie-info">
  <div class="buy-now-container px-3 py-4 d-flex align-items-center">
    <div class="dropdown buy-now-container__film ">
      <button class="btn dropdown-toggle py-2" type="button" id="triggerId" data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
        Phim
      </button>
      <div class="dropdown-menu" aria-labelledby="triggerId">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item disabled" href="#">Disabled action</a>
        <h6 class="dropdown-header">Section header</h6>
        <a class="dropdown-item" href="#">Action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">After divider action</a>
      </div>
    </div>
    <div class="dropdown buy-now-container__film-info">
      <button class="btn py-2 dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
        Rạp
      </button>
      <div class="dropdown-menu" aria-labelledby="triggerId">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item disabled" href="#">Disabled action</a>
        <h6 class="dropdown-header">Section header</h6>
        <a class="dropdown-item" href="#">Action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">After divider action</a>
      </div>
    </div>
    <div class="dropdown buy-now-container__film-info">
      <button class="btn py-2 dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
        Ngày xem
      </button>
      <div class="dropdown-menu" aria-labelledby="triggerId">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item disabled" href="#">Disabled action</a>
        <h6 class="dropdown-header">Section header</h6>
        <a class="dropdown-item" href="#">Action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">After divider action</a>
      </div>
    </div>
    <div class="dropdown buy-now-container__film-info">
      <button class="btn py-2 dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
        Xuất chiếu
      </button>
      <div class="dropdown-menu" aria-labelledby="triggerId">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item disabled" href="#">Disabled action</a>
        <h6 class="dropdown-header">Section header</h6>
        <a class="dropdown-item" href="#">Action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">After divider action</a>
      </div>
    </div>

    <button class="btn btn-dark buy-now-container__film-info py-2">Mua vé ngay</button>
  </div>
</div>
