@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');

/* Base */
@import "scss/base/customize";

/* Helper */
@import "scss/helper/variable";
@import "scss/helper/general";

/* Pages */
@import "scss/pages/frontend/home";

/* Layout */
/* Component */

/*html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
