@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
}

$light-black: #9b9b9b;
