<div class="news">
  <div class="movie-nav-container d-flex justify-content-center">
    <a class="movie-nav-item active" href="#dien-anh-24h">Điện ảnh 24h</a>
    <a class="movie-nav-item" href="#review">Review</a>
    <a class="movie-nav-item" href="#khuyen-mai">Khuyễn mãi</a>
  </div>

  <div class="news-container">
    <div class="news-item w-6">
      <img class="news-img"
           src="https://s3img.vcdn.vn/123phim/2020/08/da-n-my-nhan-trong-the-gio-i-die-n-a-nh-cu-a-qua-i-kie-t-christopher-nolan-15970503918450.png">
      <h5 class="news-title">
        <a href="#">Dàn mỹ nhân trong thế giới điện ảnh của quái kiệt Christopher Nolan</a>
      </h5>
      <p class="news-desc">Làng phim đương đại những năm qua
        chứng kiến sự lên ngôi của cái tên Christopher Nolan, được biết tới như một trong những đạo diễn
        thiên tài với khả năng tạo ra siêu phẩm bạc tỉ chất lượng. </p>
      <div class="social-count">
        <span class="mr-5">
          <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/like.png"> 0
        </span>
        <span class="mr-5">
          <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/comment.png"> 0
        </span>
      </div>
    </div>
    <div class="news-item w-6">
      <img class="news-img"
           src="https://s3img.vcdn.vn/123phim/2020/08/truy-cung-giet-tan-cuoc-tai-ngo-cua-hai-ong-hoang-phong-ve-xu-han-15966122361852.png">
      <h5 class="news-title">
        <a href="#">Truy Cùng Giết Tận - Cuộc tái ngộ của hai 'ông hoàng phòng vé' xứ Hàn</a>
      </h5>
      <p class="news-desc">Sau 7 năm kể từ New World – bộ phim đạt thành tích hơn 4.68 triệu vé, hai tên tuổi lão làng
        trong làng điện ảnh Hàn Quốc mới tiếp tục tái hợp trong Truy Cùng Giết Tận – một bộ phim hành động siêu “nặng
        đô”.</p>
      <div class="social-count">
        <span class="mr-5">
          <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/like.png"> 0
        </span>
        <span class="mr-5">
          <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/comment.png"> 0
        </span>
      </div>
    </div>
    <div class="news-item w-4">
      <img class="news-img"
           src="https://s3img.vcdn.vn/123phim/2020/08/6-da-o-die-n-ti-do-lam-nen-thanh-cong-cua-nhu-ng-bom-ta-n-di-nh-da-m-nha-t-hollywood-15966023653637.png">
      <h5 class="news-title">
        <a href="#">6 đạo diễn tỉ đô làm nên thành công của những bom tấn đình đám nhất Hollywood</a>
      </h5>
      <p class="news-desc">Hollywood luôn yêu thích những dự án điện ảnh với tiềm năng trở thành bom tấn.
        Trên con đường đó, đạo diễn là một trong những vị trí quan trọng nhất để “phù phép” cho một câu
        chuyện trở nên vĩ đại. Đằng sau những tác phẩm nổi tiếng nhất luôn có bóng dáng của</p>
      <div class="social-count">
        <span class="mr-5">
          <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/like.png"> 0
        </span>
        <span class="mr-5">
          <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/comment.png"> 0
        </span>
      </div>
    </div>
    <div class="news-item w-4">
      <img class="news-img"
           src="https://s3img.vcdn.vn/123phim/2020/08/6-da-o-die-n-ti-do-lam-nen-thanh-cong-cua-nhu-ng-bom-ta-n-di-nh-da-m-nha-t-hollywood-15966023653637.png">
      <h5 class="news-title">
        <a href="#">6 đạo diễn tỉ đô làm nên thành công của những bom tấn đình đám nhất Hollywood</a>
      </h5>
      <p class="news-desc">Hollywood luôn yêu thích những dự án điện ảnh với tiềm năng trở thành bom tấn.
        Trên con đường đó, đạo diễn là một trong những vị trí quan trọng nhất để “phù phép” cho một câu
        chuyện trở nên vĩ đại. Đằng sau những tác phẩm nổi tiếng nhất luôn có bóng dáng của</p>
      <div class="social-count">
        <span class="mr-5">
          <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/like.png"> 0
        </span>
        <span class="mr-5">
          <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/comment.png"> 0
        </span>
      </div>
    </div>
    <div class="news-item w-4">
      <div class="d-flex mb-3">
        <a href="#" class="mr-2">
          <img class="news-img-thump"
               src="https://s3img.vcdn.vn/123phim/2020/07/kaity-nguyen-tro-thanh-my-nhan-moi-cua-vu-tru-gai-gia-lam-chieu-15959988694730.png">
        </a>
        <h5 class="news-title o-7">
          <a href="#">6 đạo diễn tỉ đô làm nên thành công của những bom tấn đình đám nhất Hollywood</a>
        </h5>
      </div>
      <div class="d-flex mb-3">
        <a href="#" class="mr-2">
          <img class="news-img-thump"
               src="https://s3img.vcdn.vn/123phim/2020/07/5-ly-do-khien-ban-khong-the-bo-qua-bo-phim-cau-be-nguoi-go-pinocchio-15959331601790.png">
        </a>
        <h5 class="news-title o-7">
          <a href="#">5 lý do khiến bạn không thể bỏ qua bộ phim Cậu Bé Người Gỗ Pinocchio</a>
        </h5>
      </div>
      <div class="d-flex mb-3">
        <a href="#" class="mr-2">
          <img class="news-img-thump"
               src="https://s3img.vcdn.vn/123phim/2020/07/tenet-cong-bo-ngay-khoi-chieu-chinh-thuc-tai-viet-nam-15959320275248.png">
        </a>
        <h5 class="news-title o-7">
          <a href="#">TENET công bố ngày khởi chiếu chính thức tại Việt Nam</a>
        </h5>
      </div>
      <div class="d-flex mb-3">
        <a href="#" class="mr-2">
          <img class="news-img-thump"
               src="https://s3img.vcdn.vn/123phim/2020/07/khi-phu-nu-khong-con-o-the-tron-chay-cua-nan-nhan-15943684395106.jpg">
        </a>
        <h5 class="news-title o-7">
          <a href="#">Khi phụ nữ không còn ở thế trốn chạy của nạn nhân</a>
        </h5>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <button class="btn btn-light-orange">Xem thêm</button>
  </div>
</div>
