<header class="header">
  <nav class="navbar py-0 px-3 navbar-expand-md navbar-light">
    <a class="navbar-brand"
       routerLink="/">
      <img alt=""
           src="https://tix.vn/app/assets/img/icons/web-logo.png"/>
    </a>
    <button
      class="navbar-toggler"
      data-target="#navbarNavAltMarkup"
      data-toggle="collapse"
      type="button"
    >
      <img
        alt=""
        height="20px"
        src="https://tix.vn/app/assets/img/icons/menu-options.png"
        width="25px"
      />
    </button>
    <div class="collapse navbar-collapse"
         id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <div class="nav-item nav-item--mobile">
          <a href="#">
            <img
              class="btnLogin btnAvatarMobile"
              src="https://tix.vn/app/assets/img/avatar.png"
            />
            <a class="mx-4"
               routerLink="/login">Đăng nhập</a>
          </a>
          <img
            class="close icon-arrow-right"
            data-target="#navbarNavAltMarkup"
            data-toggle="collapse"
            src="https://tix.vn/app/assets/img/icons/next-session.png"
            width="20px"
          />
        </div>
        <a class="nav-item nav-link active"
           href="#">Lịch chiếu</a>
        <a class="nav-item nav-link"
           href="#cumRap">Cụm rạp</a>
        <a class="nav-item nav-link"
           href="#">Tin tức</a>
        <a class="nav-item nav-link"
           href="#ungDung">Ứng dụng</a>
      </div>
    </div>
    <div class="header__right ml-auto">
      <div class="d-flex align-items-center">
        <img
          alt=""
          class="register-img mr-2"
          src="https://tix.vn/app/assets/img/avatar.png"
          width="30px"
        />

        <span *ngIf="currentUser!=null ; else dangNhapSpan"
              class="register-span mr-3 cursor-pointer" routerLink="/thong-tin-ca-nhan">Chào, {{ currentUser.hoTen }}</span>
        <ng-template #dangNhapSpan>
          <span class="register-span mr-3 cursor-pointer"
                routerLink="/login">Đăng nhập</span>
        </ng-template>
        <div class="header__location d-flex align-items-center cursor-pointer" *ngIf="currentUser" (click)="dangXuat()">
          Đăng xuất
        </div>
      </div>
    </div>
  </nav>
</header>
